{{template "header"}}
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href='{{printf "%s/assets/images/pcea-logo.png" .BackendUrl}}'>
    <script src="https://kit.fontawesome.com/cee649f143.js" crossorigin="anonymous"></script>
    <link href='{{printf "%s/assets/css/style.css" .BackendUrl}}' rel="stylesheet">
{{template "navbarheader"}}
    <a class="navbar-brand" href="#page-top">
        <img src='{{printf "%s/assets/images/pcea-logo.png" .BackendUrl}}'  alt="pcea logo" height=50 width=50 style="object-fit: contain;">
    </a>
{{template "navbarbody"}}
    <div class="container">
        <div class="row" id="home">
            <div class="col-md-6">
                <div class="card" style="margin: 10px;border-radius: 10px;">
                    <img src='{{printf "%s/assets/images/pcea-logo.png" .BackendUrl}}'  class="card-img-top" alt="pcea logo" height=150 width=150 style="object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">PCEA Elijah Wathika Memorial Church</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Mission</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h6 class="card-subtitle mb-2 text-muted">Vision</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="carouselDisplay" class="carousel slide carousel-fade" data-bs-ride="carousel" style="margin: 10px;border-radius: 10px;" >
                    <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src='{{printf "%s/assets/images/IMG-20240215-WA0000.jpg" .BackendUrl}}'  class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item ">
                                <img src='{{printf "%s/assets/images/IMG-20240215-WA0001.jpg" .BackendUrl}}'   class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src='{{printf "%s/assets/images/IMG-20240215-WA0002.jpg" .BackendUrl}}'   class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src='{{printf "%s/assets/images/IMG-20240215-WA0003.jpg" .BackendUrl}}'    class="d-block w-100"alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src='{{printf "%s/assets/images/IMG-20240215-WA0004.jpg" .BackendUrl}}'    class="d-block w-100"alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src='{{printf "%s/assets/images/IMG-20240215-WA0005.jpg" .BackendUrl}}'    class="d-block w-100"alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src='{{printf "%s/assets/images/IMG-20240215-WA0006.jpg" .BackendUrl}}'   class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src='{{printf "%s/assets/images/IMG-20240215-WA0007.jpg" .BackendUrl}}'   class="d-block w-100" alt="...">
                            </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDisplay" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselDisplay" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>  
        <div id="history">
            <div class="container">
                <h2 class="pb-5 pt-5 text-center mb-5 display-5">Timeline</h2>
                <div class="row align-items-center connecting-line d-flex">
                    <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">2010</div>
                    </div>
                    <div class="col-6">
                        <h4>first creation</h4>
                        <p> this was first creation fgfdgfgfsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
                    </div>
                </div>
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner top-right"></div>
                    </div>
                    <div class="col-8"></div>
                    <div class="col-2">
                        <div class="corner left-bottom">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-end connecting-line d-flex">
                    <div class="col-6 text-right">
                        <h4>second creation</h4>
                        <p> this was first creation </p>
                    </div>
                    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">2020</div>
                    </div>
                </div>
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner right-bottom"></div>
                    </div>
                    <div class="col-8"></div>
                    <div class="col-2">
                        <div class="corner top-left"></div>
                    </div>
                </div>
                <div class="row align-items-center connecting-line d-flex">
                    <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">2030</div>
                    </div>
                    <div class="col-6">
                        <h4>third creation</h4>
                        <p> this was first creation </p>
                    </div>
                </div>
            </div>
        </div>      
        <div id="gallery">
            <h1>Gallery</h1>
        </div>  
        <div id="events">
            <h1>Events</h1>
        </div> 
        <div id="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7978.287192708239!2d36.755684251999405!3d-1.0537322360934995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f2f2bfe900c3b%3A0xb328b1aeb185b4cc!2sPCEA%20Elijah%20Wathika%20memorial%20Church!5e0!3m2!1ssw!2ske!4v1707920645158!5m2!1ssw!2ske" style="border:0;width:100%;height:100%;" allowfullscreen="yes" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> 

        </div>   
    </div>
    <footer>
        <div class="container" style="background-color: #014674;display:flex;justify-content: center;align-items: center;">
            <div >
                <div class="text-center  justify-content-center" style="color: white;margin-left: 25%;margin-right: 25%;margin-top: 10px;">
                    Thank you for considering connecting with us! Don't miss out on our online Sunday service and the opportunity to engage with us on social media. 
                    We value your input and look forward to hearing from you soon.                     
                </div>                 
                <div class="text-center p-3">
                    <a href="https://www.youtube.com/@elijahwathikamemorialchurch" class="text-white me-5">
                        <i class="fa-brands fa-youtube"></i> PCEA Elijah Wathika
                    </a>
                    <a href="" class="text-white me-5">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="" class="text-white me-5">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="" class="text-white me-5">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-5">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="" class="text-white me-5">
                        <i class="fa-solid fa-phone"></i>
                    </a>
                </div>
                <div class="text-center p-3" style="color: white;">
                    Copyright &#169; PCEA Elijah Wathika Memorial Church - All Rights Reserved. Website by Haptic solutions
                </div>
            </div>
          
        </div>
    </footer>
    </body>
</html>