{{template "header"}}
    <title>{{.Title}}</title>
{{template "body"}} 
<div class="container d-flex flex-column">
        <div class="row m-5" >
            <div class="col">
               
            </div>
            <div class="col">
                    <form class="card p-5 border-secondary" id="messageform">
                        <div class="card-body">
                            <h5 class="card-title">Get in Touch</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Use this contact form to share feedback and get answers</h6>
                            <div class="mb-3 mt-5">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" >
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputTextArea1" class="form-label">Message</label>
                                <textarea class="form-control" id="exampleInputTextArea1" rows="5" cols="15"></textarea>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Submit</button>
                            </div>
                        </div>
                        <br>
                        <div id="errorDiv" class="alter" role="alter">
        
                        </div>
                    </form>
            </div>
        </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.2859384640246!2d36.76089985870525!3d-1.053609238186658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f2f2bfe900c3b%3A0xb328b1aeb185b4cc!2sPCEA%20Elijah%20Wathika%20memorial%20Church!5e0!3m2!1sen!2ske!4v1736166705716!5m2!1sen!2ske" loading="lazy" height="500px" width="100%" allowfullscreen>
    </iframe>
   
</div>
<script>
     var form=document.getElementById("messageform")
    form.addEventListener("submit", function(event){
        event.preventDefault()
        event.stopPropagation()
        form.classList.add('was-validated') 
        if (form.checkValidity()){
            var y=document.getElementById('errorDiv')
                var data=JSON.stringify({"Email":form.exampleInputEmail1.value,"Description":form.exampleInputTextArea1.value})
                fetch('https://localhost:8080/message',{ method:'POST',headers:{'Content-Type':'application/json'},body: data,credentials:"include",mode:"cors"}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(JSON.stringify(result.body));
                        }
                        return result.json();
                    }
                ).then(
                    (data)=>{    
                        if(data.hasOwnProperty('Error')){
                            y.classList.add("alter-danger")
                            y.innerHTML=data['Error']
                            form.classList.remove('was-validated')
                        }else{
                            y.classList.add("alter-success")
                            y.innerHTML="Message sent"                          
                        }
                    }
                ).catch((e)=>{
                    y.classList.add("alter-danger")
                    y.innerHTML=e
                    form.classList.remove('was-validated')
                })            
                setTimeout(()=>{ 
                    y.className="alter"
                    y.innerHTML=""
                },10000)
        }
    })
</script>
{{template "footer"}} 