{{template "header"}}
    <title>{{.Title}}</title>
{{template "body"}}
<script>
     var members=[] 
     var districts=[]  
     var groups=[]  
</script> 

<div class="container mt-3">
    <div class="d-flex justify-content-around">
        <div >
            <div class="card">
                <div class="card-body p-3 w-auto h-100">
                    <h4 class="card-title">Members</h4>
                    <h1 id="numberofmembers" class="card-text"> </h1>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success" id="openmodal" ><!-- data-bs-toggle="modal" data-bs-target="#modaladd" !-->
                <i class="bi bi-plus"></i>Add Member
            </button> 
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <form class="row g-3" id="searchform">
            <div class="col-auto">
                <input type="text" class="form-control" id="search" placeholder="Search">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-secondary">Search</button>
              </div>  
        </form>
    </div>        
    <div class="container mt-3">
        <div class="row row-cols-3 row-cols-lg-6 g-3" id="membergroup">
        </div>
        <div id="statusDiv" class="d-flex justify-content-center alert mx-auto" role="alert" style="width: 50%;"> </div>
        <script>
                const statusNode= document.getElementById("statusDiv")
                const observer = new MutationObserver((mutationsList)=>{
                    mutationsList.forEach(function(mutation) {
                        setTimeout(()=>{
                            statusNode.classList.remove("alert-danger","alert-success","alert-warning")
                            statusNode.innerHTML=""
                        },10000)
                    })
                })
                observer.observe(statusNode,{cattributes:true,childList:true,characterData:true})
        </script>
    </div>
</div>
<div class="modal fade" id="modaladd" tabindex="-1" aria-labelledby="modallabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modallabel">Member Management</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="registerform" novalidate style="margin:0 auto;">
                    <div class="mb-3">
                        <label for="username" class="sr-only" >Member Name</label>
                        <input type="text" class="form-control" id="username"  required autofocus>
                        <div class="invalid-feedback">
                            Enter the members name
                        </div>             
                    </div>
                    <div class="mb-3">
                        <label for="useremail" class="sr-only" >Email address</label>
                        <input type="email" class="form-control" id="useremail"  required autofocus>
                        <div class="invalid-feedback">
                            Please provide a valid email
                        </div>             
                    </div>
                    <div class="mb-3">
                        <label for="usercontact" class="sr-only" >Contact</label>
                        <input type="text" class="form-control" id="usercontact" >       
                    </div>
                    <div class="mb-3">
                        <label for="userbirth" class="sr-only" >Date of Birth</label>
                        <input type="date" class="form-control" id="userbirth" >       
                    </div>
                    <div class="mb-3">
                        <label for="userbaptism" class="sr-only" >Date of Baptism</label>
                        <input type="date" class="form-control" id="userbaptism" >       
                    </div>
                    <div class="mb-3">
                        <label for="usercatechism" class="sr-only" >Date of Catechism</label>
                        <input type="date" class="form-control" id="usercatechism" >       
                    </div>
                    <div class="mb-3">
                        <select class="form-select" id="userdistrict">
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="p-3" id="usergroups">
                            
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly mb-3">
                        <button type="submit" class="btn btn-primary" id="btn-add">Register</button> 
                        <button type="button" class="btn btn-warning" id="btn-update">Update</button>
                        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
                    </div>
                                                      
                </form>
                <div id="errorDiv" class="d-flex justify-content-center alert mx-auto" role="alert" style="width: 50%;"> </div>
                <script>
                        const statusNode1= document.getElementById("errorDiv")
                        const observer1 = new MutationObserver((mutationsList)=>{
                            mutationsList.forEach(function(mutation) {
                                setTimeout(()=>{
                                    statusNode.classList.remove("alert-danger","alert-success","alert-warning")
                                    statusNode.innerHTML=""
                                },10000)
                            })
                        })
                        observer1.observe(statusNode1,{cattributes:true,childList:true,characterData:true})
                </script>
            </div>
            <div class="modal-footer">                  
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>
<script>
    var selectedMember=""
    var searchform=document.getElementById("searchform")
    var form=document.getElementById("registerform")

    function loadmodal(data){
        let myModal = new bootstrap.Modal(document.getElementById('modaladd'), {})
        if (districts!='undefined' && districts){ 
           form.userdistrict.innerHTML=""
            districts.forEach((element)=>{
                let option = document.createElement("option");
                option.value = element.Id;
                option.text = element.Name;
                form.userdistrict.add(option);
            })
        }
        if (groups!='undefined' && groups){
            var field=document.getElementById("usergroups")
            field.innerHTML=""
            groups.forEach((element)=>{
                const box=document.createElement("div")
                box.classList.add("form-check","form-switch")
                const input=document.createElement("input")
                input.classList.add("form-check-input")
                input.setAttribute("type","checkbox")
                input.setAttribute("value",element.Id)
                input.setAttribute("id","g_"+element.Id)
                const label=document.createElement("label")
                label.classList.add("form-check-label")
                label.setAttribute("for","g_"+element.Id)
                label.textContent=element.Name
                box.appendChild(label)
                box.appendChild(input)
                field.appendChild(box)
            })
        }
        myModal.show()      
        if (data!='undefined' && data){           
           const found=members.find((element)=> element.Id==data)       
           form.username.value=found.Name
           form.useremail.value=found.Email
           form.usercontact.value=found.Contacts
           form.userbirth.value=found.DateofBirth
           form.userbaptism.value=found.DateofBaptism
           form.usercatechism.value=found.DateofCatechism
           selectedMember=data
           document.getElementById("btn-add").hidden=true
           document.getElementById("btn-update").hidden=false
           document.getElementById("btn-delete").hidden=false
        }else{
            document.getElementById("btn-add").hidden=false
           document.getElementById("btn-update").hidden=true
           document.getElementById("btn-delete").hidden=true
        }          
    }
   
    document.getElementById("modaladd").addEventListener("hidden.bs.modal",function(){
        window.location.reload()
    })

    document.getElementById("openmodal").addEventListener("click",(e)=>{
        event.preventDefault()
        event.stopPropagation()
        loadmodal(null)
    })
   
    searchform.addEventListener("submit", function(event){
        event.preventDefault()
        event.stopPropagation()
        const found = (members||[]).filter((element) => element.Name.includes(searchform.search.value) || element.Email.includes(searchform.search.value))
        loaddata(found)
    })

    function loaddata(data){
        if(data!='undefined' && data){
        const groupcard =document.getElementById("membergroup")
        groupcard.innerHTML=""
        data.forEach(element => {
            const column=document.createElement("div")
            column.classList.add("col")
            column.setAttribute("data-id",element.Id)
            const card=document.createElement("div")
            card.classList.add("card" ,"h-100","w-auto","p-3")
            const cardimage = document.createElement('img');
            cardimage.src=element.Passport
            cardimage.classList.add("card-img-top")
            const cardbody=document.createElement("div")
            cardbody.classList.add("card-body")
            const title = document.createElement('h3');
            title.classList.add("card-title")
            title.textContent = element.Name;
            const description = document.createElement('p');
            description.classList.add("card-text")
            description.textContent = element.Email; 
            cardbody.appendChild(title);
            cardbody.appendChild(description);
            card.appendChild(cardbody)
            card.appendChild(cardimage)
            column.appendChild(card)
            column.addEventListener("click",(e)=>{
                loadmodal(element.Id)
            })
            groupcard.appendChild(column)
        });
    }
    }

   

    document.getElementById("btn-delete").addEventListener("click",function(event){
        event.preventDefault()
        event.stopPropagation()
        if (form.checkValidity()){
            var y=document.getElementById('errorDiv')
            var data=JSON.stringify({"Name":form.username.value,"Email":form.useremail.value,"Id":selectedMember})
            fetch('https://localhost:8080/member',{ method:'DELETE',headers:{'Content-Type':'application/json','Accept':'application/json'},body: data,credentials:"include"}).then(
            (data)=>{
                if(data.hasOwnProperty('Error')){
                    y.classList.add("alert-warning")
                    y.innerHTML=data['Error']
                    form.classList.remove('was-validated')
                }else{
                    y.classList.add("alert-success")
                    y.innerHTML="Member deleted"                          
                }
            }).catch((e)=>{
                    y.classList.add("alert-danger")
                    y.innerHTML=="Something went wrong"
                    form.classList.remove('was-validated')
            })            
        }

    })

    document.getElementById("btn-update").addEventListener("click",function(event){
        event.preventDefault()
        event.stopPropagation()
        if (form.checkValidity()){
            var y=document.getElementById('errorDiv')
                var data=JSON.stringify({"Name":form.username.value,"Email":form.useremail.value,"Contacts":form.usercontact.value,"DateofBirth":form.userbirth.value,"DateofBaptism":form.userbaptism.value,"DateofCatechism":form.usercatechism.value,"District":form.userdistrict.value,
                    "Groups":getgroups(),"Id":selectedMember
                })
                fetch('https://localhost:8080/member',{ method:'PUT',headers:{'Content-Type':'application/json','Accept':'application/json'},body: data,credentials:"include"}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(JSON.stringify(result.body));
                        }
                        return result.json();
                    }
                ).then(
                    (data)=>{    
                        if(data.hasOwnProperty('Error')){
                            y.classList.add("alert-warning")
                            y.innerHTML=data['Error']
                            form.classList.remove('was-validated')
                        }else{
                            y.classList.add("alert-success")
                            y.innerHTML="Member data updated"                          
                        }
                    }
                ).catch((e)=>{
                    y.classList.add("alert-danger")
                    y.innerHTML=="Something went wrong"
                    form.classList.remove('was-validated')
                })   
        }

    })

    function getgroups(){
        var checkboxes=document.querySelectorAll('.form-check-input')
        var result=""
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                if (result!==""){
                    result+=";"
                }
                result+=checkbox.value
            }
            console.log(result)
        });
        return result
    }
   
    form.addEventListener("submit", function(event){
        event.preventDefault()
        event.stopPropagation()
        form.classList.add('was-validated') 
        if (form.checkValidity()){
            var y=document.getElementById('errorDiv')
                var data=JSON.stringify({"Name":form.username.value,"Email":form.useremail.value,"Contacts":form.usercontact.value,"DateofBirth":form.userbirth.value,"DateofBaptism":form.userbaptism.value,"DateofCatechism":form.usercatechism.value,"District":form.userdistrict.value,
                    "Groups":getgroups(),
                })
                fetch('https://localhost:8080/member',{ method:'POST',headers:{'Content-Type':'application/json','Accept':'application/json'},body: data,credentials:"include"}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(JSON.stringify(result.body));
                        }
                        return result.json();
                    }
                ).then(
                    (data)=>{    
                        if(data.hasOwnProperty('Error')){
                            y.classList.add("alert-warning")
                            y.innerHTML=data['Error']
                            form.classList.remove('was-validated')
                        }else{
                            y.classList.add("alert-success")
                            y.innerHTML="Member registered"                          
                        }
                    }
                ).catch((e)=>{
                    y.classList.add("alert-danger")
                    y.innerHTML=="Something went wrong"
                    form.classList.remove('was-validated')
                })   
        }
    })

     //Initial function called once a page is loaded
    window.onload=function () {
        loadcompleted()

        var status =document.getElementById("statusDiv")    
        fetch('https://localhost:8080/member',{ method:'GET',headers:{'Content-Type':'application/json','Accept':'application/json'},credentials:"include"}).then(
            (result)=>{                    
                if (!result.ok){                    
                    throw new Error(JSON.stringify(result.body));
                }
                return result.json();
            }).then((data)=>{
                members=data
                document.getElementById("numberofmembers").innerHTML=members.length 
                loaddata(members)
                status.classList.add("alert-success")
                status.innerHTML="Fetching member data completed"
                
            }).catch((e)=>{
                status.classList.add("alert-warning")
                status.innerHTML="Something went wrong"                
        }) 
        fetch('https://localhost:8080/group',{ method:'GET',headers:{'Content-Type':'application/json','Accept':'application/json'},credentials:"include"}).then(
            (result)=>{                    
                if (!result.ok){                    
                    throw new Error(JSON.stringify(result.body));
                }
                return result.json();
            }).then((data)=>{
                groups=data
                
            }).catch((e)=>{               
        }) 
        fetch('https://localhost:8080/district',{ method:'GET',headers:{'Content-Type':'application/json','Accept':'application/json'},credentials:"include"}).then(
            (result)=>{                    
                if (!result.ok){                    
                    throw new Error(JSON.stringify(result.body));
                }
                return result.json();
            }).then((data)=>{
               districts=data
                
            }).catch((e)=>{               
        }) 
    }; 
</script>
{{template "footer"}} 