{{template "header"}}
    <title>{{.Title}}</title>
{{template "body"}}
<script>
     var members=[]     
</script> 

<div class="container mt-3">
    <div class="d-flex justify-content-around">
        <div >
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <h4 class="card-title">Members</h4>
                    <h1 id="numberofmembers" class="card-text"> </h1>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success" onclick="loaddata(null)" ><!-- data-bs-toggle="modal" data-bs-target="#modaladd" !-->
                <i class="bi bi-plus"></i>Add Member
            </button> 
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <form class="row g-3" id="searchform">
            <div class="col-auto">
                <input type="text" class="form-control" id="search" placeholder="Search">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-secondary">Search</button>
              </div>  
        </form>
    </div>        
    <div class="container mt-3">
        <div class="row row-cols-3 row-cols-lg-6 g-3" id="membergroup">
        </div>
    </div>
</div>
<div class="modal fade" id="modaladd" tabindex="-1" aria-labelledby="modallabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modallabel">Register New Member</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="registerform" novalidate style="margin:0 auto;">
                    <div class="mb-3">
                        <label for="username" class="sr-only" >Member Name</label>
                        <input type="text" class="form-control" id="username"  required autofocus>
                        <div class="invalid-feedback">
                            Enter the members name
                        </div>             
                    </div>
                    <div class="mb-3">
                        <label for="useremail" class="sr-only" >Email address</label>
                        <input type="email" class="form-control" id="useremail"  required autofocus>
                        <div class="invalid-feedback">
                            Please provide a valid email
                        </div>             
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>                                   
                </form>
                <div id="errorDiv" class="alter" role="alter"> </div>
            </div>
            <div class="modal-footer">                  
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>
<script>
    var searchform=document.getElementById("searchform")
    var form=document.getElementById("registerform")
    function loadmodal(data){
        let myModal = new bootstrap.Modal(document.getElementById('modaladd'), {})      
        if (data!='undefined' && data){           
           const found=members.find((element)=> element.Id==data)       
           form.username.value=found.Name
           form.useremail.value=found.Email
        }   
        myModal.show()
    }

   
    searchform.addEventListener("submit", function(event){
        event.preventDefault()
        event.stopPropagation()
        const found = (members||[]).filter((element) => element.Name.includes(searchform.search.value) || element.Email.includes(searchform.search.value))
        loaddata(found)
    })

    function loaddata(data){
        const groupcard =document.getElementById("membergroup")
        groupcard.innerHTML=""
        data.forEach(element => {
            const column=document.createElement("div")
            column.classList.add("col")
            column.setAttribute("data-id",element.Id)
            const card=document.createElement("div")
            card.classList.add("card" ,"h-100")
            card.style.maxWidth="18rem"
            const cardimage = document.createElement('img');
            cardimage.src=element.Passport
            cardimage.classList.add("card-img-top")
            const cardbody=document.createElement("div")
            cardbody.classList.add("card-body")
            const title = document.createElement('h3');
            title.classList.add("card-title")
            title.textContent = element.Name;
            const description = document.createElement('p');
            description.classList.add("card-text")
            description.textContent = element.Email; 
            cardbody.appendChild(title);
            cardbody.appendChild(description);
            card.appendChild(cardbody)
            card.appendChild(cardimage)
            column.appendChild(card)
            column.addEventListener("click",(e)=>{
                loadmodal(element.Id)
            })
            groupcard.appendChild(column)
        });
    }

    fetch('https://localhost:8080/member',{ method:'GET',headers:{'Content-Type':'application/json','Accept':'application/json'},credentials:"include"}).then(
        (result)=>{                    
            if (!result.ok){                    
                throw new Error(JSON.stringify(result.body));
            }
            return result.json();
        }).then((data)=>{
            members=data
            document.getElementById("numberofmembers").innerHTML=members.length 
            loaddata(members)
        }).catch((e)=>{
    })

   
    form.addEventListener("submit", function(event){
        event.preventDefault()
        event.stopPropagation()
        form.classList.add('was-validated') 
        if (form.checkValidity()){
            var y=document.getElementById('errorDiv')
                var data=JSON.stringify({"Name":form.username.value,"Email":form.useremail.value})
                fetch('https://localhost:8080/member',{ method:'POST',headers:{'Content-Type':'application/json','Accept':'application/json'},body: data,credentials:"include"}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(JSON.stringify(result.body));
                        }
                        return result.json();
                    }
                ).then(
                    (data)=>{    
                        if(data.hasOwnProperty('Error')){
                            y.classList.add("alter-danger")
                            y.innerHTML=data['Error']
                            form.classList.remove('was-validated')
                        }else{
                            y.classList.add("alter-success")
                            y.innerHTML="Districts data fetched"  
                            //members.push(JSON.stringify(data))                          
                        }
                    }
                ).catch((e)=>{
                    y.classList.add("alter-danger")
                    y.innerHTML=e
                    form.classList.remove('was-validated')
                })            
                setTimeout(()=>{ 
                    y.className="alter"
                    y.innerHTML=""
                },10000)
        }
    })

     //Initial function called once a page is loaded
    window.onload=function () {
        loadcompleted()  
    }; 
</script>
{{template "footer"}} 